/* 전체 컨테이너 스타일링 */
.payment-container {
    background: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    padding: 40px;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9), inset 0 0 20px rgba(255, 0, 0, 0.7);
    width: 100%;
    max-width: 800px; /* 가로 폭을 더 넓게 */
    margin: 0 auto;
}

/* 제목 스타일링 */
.payment-container h1 {
    text-align: center;
    color: #ff0000;
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.5);
    font-size: 3em; /* 폰트 크기 키움 */
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

/* 폼 스타일링 */
.reservationDetailForm {
    width: 100%;
    max-width: 800px;
    min-width: 750px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-collapse: collapse; /* 테이블 경계선이 끊기지 않도록 */
}

/* 테이블 셀 스타일 */
.reservationDetailForm th, .reservationDetailForm td {
    padding: 15px;
    color: #f0f0f0;
    font-size: 1.4em;
    border-bottom: 1px solid rgba(255, 0, 0, 0.4); /* 더 투명한 붉은 경계선 */
    box-shadow: 0 5px 10px rgba(255, 0, 0, 0.6); /* 더 크고 잘 보이는 붉은색 그림자 */
}

/* 테이블 행 구분 */
.reservationDetailForm th {
    text-align: center;
    font-weight: bold;
    width: 150px; /* th의 고정 너비 설정 */
}

.reservationDetailForm td {
    width: calc(100% - 150px); /* td는 남은 공간을 차지 */
}

/* 붉은색 경계선 및 그림자 효과 */
.reservationDetailForm th, .reservationDetailForm td {
    border-bottom: 1px solid rgba(255, 0, 0, 0.4); /* 더 투명한 붉은 경계선 */
    box-shadow: 0 5px 10px rgba(255, 0, 0, 0.6); /* 더 크고 잘 보이는 붉은 그림자 */
}

.reservationDetailForm button {
    width: 100%;
    background-color: #660000;
    color: #f0f0f0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    letter-spacing: 2px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
    margin-top: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

.reservationDetailForm button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}

.reservationDetailForm button:active {
    background-color: #cc0000;
    transform: scale(0.98);
}
