/* 전체 컨테이너 스타일링 */
.Reserve-Container_Div {
    background: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    padding: 40px; /* 패딩을 조금 더 크게 */
    min-height: 70vh; /* 높이 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9), inset 0 0 20px rgba(255, 0, 0, 0.7);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* 제목 스타일링 */
.Reserve-Container_Div h1 {
    color: #c30404;
    text-shadow: 0 0 10px rgba(212, 28, 28, 0.7), 0 0 20px rgba(212, 28, 28, 0.5), 0 0 30px #ff0000, 0 0 40px #ff0000;
    font-size: 3em;
    letter-spacing: 5px;
    animation: ghost 3s infinite;
    transition: color 0.1s ease;
}

/* 폼 스타일링 */
.Reserve_Form_Table {
    width: 100%;
    max-width: 700px;
    min-width: 700px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    /* 긴 텍스트가 한 줄로 유지되도록 설정 */
    white-space: nowrap;      /* 줄바꿈 방지 */
    overflow: hidden;         /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;  /* 넘치는 부분은 "..."로 표시 */
}

.Reserve_Form_Table th, .Reserve_Form_Table td {
    padding: 15px; /* 더 넓은 여백 */
    color: #f0f0f0;
    font-size: 1.4em; /* 폰트 크기 키움 */
    box-shadow: 0 5px 10px rgba(255, 0, 0, 0.6); /* 더 크고 잘 보이는 붉은색 그림자 */
    letter-spacing: 3px;
    text-align: center;
}

/* 테이블 헤더 별도 스타일 */
.Reserve_Form_Table th {
    font-weight: bold;
}
/* 테이블 셀 별도 스타일 */
.Reserve_Form_Table td {
    padding-top: 30px;
}

/* DatePiceker 스타일 */
.Reserve_Form_Table input[type="text"], .Reserve_Form_Table input[type="number"], .reserveForm input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f0f0f0;
    font-size: 1.4em; /* 폰트 크기 키움 */
    margin-bottom: 20px;
    text-align: center;
}


/* 시간 버튼 스타일 */
#Reserve_Custom_Button {
    width: 40%;
    height: 50px; /* 높이 설정 */
    font-size: 1.6em;
    margin: 10px 0;
    line-height: 20px;
}


/* "예약하기", "취소하기" 버튼 스타일 */
.Reserve_Form_Table input[type="submit"], .Reserve_Form_Table input[type="button"] {
    width: 100%;
    background-color: #660000;
    color: #f0f0f0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6em;
    letter-spacing: 4px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
    margin-top: 30px; /* 버튼 위아래 간격 */
    transition: background-color 0.3s, transform 0.3s;
}
.Reserve_Form_Table input[type="submit"]:hover, .Reserve_Form_Table input[type="button"]:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}
.Reserve_Form_Table input[type="submit"]:active, .Reserve_Form_Table input[type="button"]:active {
    background-color: #cc0000;
    transform: scale(0.98);
}