/* 테마 이미지 섹션 */
.DetailTema_Image {
    flex: 2;
}

.DetailTema_Image img {
    width: 100%;
    height: 400px; /* 이미지 높이 */
    border-radius: 10px; 
}

/* 지도 섹션 */
.Detail_Map {
    width: 100%; /* 너비를 부모 요소에 맞추기 */
    height: 300px; /* 지도 높이 */
    border-radius: 10px;
    overflow: hidden;
}
.Detail_Map_Container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
}
.Detail_Map_Address {
    color: white; /* 텍스트 색상 */
    font-size: 20px; /* 폰트 크기 조정 */
    margin-top: 5px; /* 지도와 주소 사이 간격 */
    text-align: center; /* 텍스트 가운데 정렬 */
}


/* 예약하기 기능 */
.Detail_Reserve {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    margin-bottom: 20px;
}

/* 후기 작성/후기 보기 */
.Detail_Review {
    margin-top: 20px; /* 정보 섹션과 댓글 사이의 간격 조정 */
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* 배경색 조정 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 섀도우 추가 */
    max-height: 400px; /* 높이 제한 */
    width: 100%; /* 너비를 100%로 확장 */
    overflow-y: auto; /* 스크롤 추가 */
}

/* 정보 섹션 스타일 */
.Detail_Div {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75); /* 배경색 조정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* 섀도우 추가 */
    width: 100%; /* 가로 길이를 부모 요소에 맞추기 */
    height: 726px;
}

.Detail_Info h2 {
    color: #b12a2a; /* 강렬한 붉은색 */
    font-size: 2em; /* 제목 크기 */
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(27, 25, 25, 0.5), 0 0 30px #ff0000, 0 0 40px #ff0000; /* 글자 주위에 붉은 빛 발광 효과 */
    margin-bottom: 20px;
    letter-spacing: 2px;
    transition: color 0.3s ease; /* 마우스 오버 시 부드러운 색상 전환을 위한 트랜지션 */
}

#Detail_Content {
    color: #b12a2a; /* 강렬한 붉은색 */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(27, 25, 25, 0.5), 0 0 30px #ff0000, 0 0 40px #ff0000; /* 글자 주위에 붉은 빛 발광 효과 */
    font-size: 17px;
}

#Detail_Button {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #f0f0f0; 
    border: 1px solid #660000;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 15%;
}

#Detail_Button:hover {
    background-color: #550000; 
    transform: scale(1.1); /* 살짝 확대되는 효과 */
    box-shadow: 0 0 20px #ff0000;
}

#Detail_Button:active {
    background-color: #c92020; /* 클릭 시 더 진한 붉은색 */
    transform: scale(1.05); /* 클릭 시 약간 줄어드는 효과 */
}
