/* reviewCss.css */

/* 리뷰 작성 폼 컨테이너 */
.Review_Insert {
    margin-bottom: 20px;
}

/* 별점 스타일 */
.Review_Ratings {
    margin-bottom: 10px;
}

/* 리뷰 텍스트 영역 스타일 */
.Review_Textarea textarea {
    background-color: #2c2c2c; /* 어두운 배경색 */
    color: #e0e0e0; /* 밝은 텍스트 색상 */
    border: 1px solid #555; /* 테두리 색상 */
    padding: 10px;
    width: 100%;
    resize: none; /* 크기 조절 비활성화 */
    border-radius: 5px; /* 모서리 둥글게 */
}

/* 텍스트 영역 포커스 효과 */
.Review_Textarea textarea:focus {
    outline: none; /* 기본 포커스 효과 제거 */
    border-color: #8b0000; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px #8b0000; /* 포커스 시 그림자 효과 */
    background-color: #333; /* 포커스 시 배경색 약간 어둡게 */
}

/* 리뷰 등록 버튼 */
.Review_Submit {
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.Review_Submit:hover {
    background-color: #a00000;
}

/* 리뷰 아이템 */
.Review_List {
    background-color: #1c1c1c;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 리뷰 헤더 */
.Review_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 리뷰 내용 */
.Review_Content p {
    color: #e0e0e0;
}

/* 리뷰 푸터 */
.Review_Footer {
    margin-top: 10px;
}
/* 리뷰 작성일 */
.Review_Footer>span{
    font-size:10px;
} 

/* 리뷰 편집 모드 */
.Review_Edit {
    margin-top: 15px;
}

.Review_Button {
    display: flex; /* 버튼들을 가로로 배치 */
    gap: 10px; /* 버튼 사이 간격 */
    justify-content: flex-start; /* 버튼을 왼쪽 정렬 */
}