/* 전체 컨테이너 스타일링 */
.anc-board-container {
    background-size: cover;
    color: #f0f0f0;
    padding: 20px;
    min-height: 100vh;
    letter-spacing: 5px;
    position: relative;
    overflow: hidden;
}

/* 제목 스타일링 */
.anc-board-container h1 {
    text-align: center;
    color: #b12a2a;
    text-shadow: 0 0 10px rgba(212, 28, 28, 0.7), 0 0 20px rgba(212, 28, 28, 0.5), 0 0 30px #ff0000, 0 0 40px #ff0000;
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 5px;
    transition: color 0.3s ease;
    animation: ghost 5s infinite;
}

#A {
    text-align: center;
}

.anc-board-container h1:hover {
    color: #9a0707;
}

/* 유령처럼 천천히 나타나고 사라지는 효과 */
@keyframes ghost {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}

/* 테이블 스타일링 */
.anc-board-table {
    width: 70%; 
    margin: 0 auto;
    border-collapse: collapse;
    background: url('../Mainpage/img/image copy.png') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9), inset 0 0 20px rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    border: 2px solid #312828;
}

/* 테이블 셀 스타일링 */
.anc-board-table th, .anc-board-table td {
    background: rgba(0, 0, 0, 0.7);
    color: #f0f0f0;
    padding: 15px;
    border: 1px solid #444;
}

/* 테이블 헤더 스타일링 */
.anc-board-table th {
    border-bottom: 1px solid #444;
    text-align: left;
    color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

/* 테이블 본문 셀 스타일링 */
.anc-board-table td {
    padding: 12px;
    border-bottom: 1px solid #444;
    color: #e0e0e0;
}

/* 테이블 행 호버 스타일 */
.anc-board-table tr:hover {
    background: #550000;
    transform: scale(1.02);
}

/* 전체 페이지 중앙 정렬 */
.anc-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button_a {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #f0f0f0; 
    border: 1px solid #660000;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#button_a:hover {
    background-color: #550000; 
    transform: scale(1.1); /* 살짝 확대되는 효과 */
    box-shadow: 0 0 20px #ff0000;
}

#button_a:active {
    background-color: #c92020; /* 클릭 시 더 진한 붉은색 */
    transform: scale(1.05); /* 클릭 시 약간 줄어드는 효과 */
}
